

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;

}

/* barra de navegación  */

a,li{
  font-family: 'Poppins', sans-serif;
  color: rgb(65, 57, 57);
  font-size: 18px;
  margin: 10px;
  

}

.logo-header img{
  width: 200px;
  
}
header{
  background-color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:.5rem 10rem;
  margin-top: 30px;
}

.nav-menu{
  max-width: 992px;
  margin: 0 auto;
}

.nav-menu ul{
  display: flex;
  align-items: center;
  
}
.nav-menu li{
  margin-right: 1.5rem;
}
.nav-menu a:hover{
  color:#4a90d2;
}

.nav-menu li:last-child:hover{
  background: transparent;
}

/* Bars Menu */
.menu-icon img{
  width: 30px;
  height: 30px;
  border-radius: 2px;
  
}
.menu-icon, #check{
display: none;
}

@media (max-width: 768px){

  
  .checkbtn{
      display:block;    
  }
  .menu-icon{
      display: block;
      position: fixed;
      top:20px;
      right: 25px;
      cursor: pointer;
  }
.nav-menu ul{
  display: block;
  position: fixed;
  top: 80px;
  left: -100%;
  background: white;
  width: 100%;
  height: 100vh;
  right: 0;

}
.nav-menu ul li{
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: -5px;
}

.nav-menu ul li :last-child{
  background: none;
  padding: 0rem;
  font-size: 17px;

}
#check:checked ~ ul{
  left: 0;
  transition: all .25s;

}
.logo-header img{
  width: 80px;

}
}




header{
 
  padding:.2rem 10rem;
}





/* galeria */
.row {
    display: flex;
    flex-wrap: wrap;
}
.container {
    width: 20%;
    position: relative;
    transition: transform 500ms;
    display: block;
    background-color: #eee
    
}
.container img{
    width: 100%;
    opacity: 1;
    height: auto;
    display: block;
}
.row .container:focus,
.row .container:hover{
    transform: scale(1.5);
    z-index: 1;
}
.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width:50%;
    height: 50%;
    transform: translate(-50%,-50%);
    text-align: center ;

}
.container:hover .middle {
    opacity: 1;
    
    }
    .text {
        color: rgb(8, 8, 8);
        font-size: 16px;
        padding: 16px 32px;
    }
    

/* cambios images por texto */
 .container>div{
    margin-top: 100px;
 }

.container h2{
    text-align: center;
    font-size: 2rem;
}

.container i{
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
}

#instagram {
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  margin-left: 155px;
}

i.bx.bx-mail-send{
  margin-left: 140px;
}

.container h4{
    padding: 0px;
    text-align: center;
    font-size: 18px;
}
.container p{
    font-size: 18px;
    margin: 20px;
    text-align: center;


}

@media only screen and (max-width: 650px){
    .container>div{
        margin-top: 50px;
        height: 280px;
     }
    .container h2{
        text-align: center;
    }
    
    .container i{
        font-size: 50px;
        margin-left: 220px;
        padding: 10px;
    }
    
    .container h4{
        padding: 0px;
        text-align: center;
    }
    /* i.fab.fa-instagram {
      font-size: 50px;
      padding: 10px;
      cursor: pointer;
      margin-left: 210px;
    }
    i.bx.bx-mail-send{
      margin-left: 182px;
    } */

    #instagram {
      font-size: 40px;
      padding: 10px;
      cursor: pointer;
      margin-left: -50px;
    }

    
  
} 


   
@media only screen and (max-width: 996px){
   
    h2{
        text-align: center;
        font-size: 38px;
    }
    .textoMi{
        width: 100%;
        height: 400px;
    }
    p{
        font-size: 20px;
        font-family: 'Nanum Gothic', sans-serif;
        line-height:30px ;
        margin-left: -30px;
    }

    .section-text{
        margin-left: 30px;
        text-align: center;
    }
}
/*  */


@media only screen and (max-width: 800px){

    
    .container {
        width: 100%;
        position: relative;
        transition: transform 500ms;
        display: block;
    }


  .hero-section{
    padding-top:60% ;
  }

  a,li{
    font-family: 'Poppins', sans-serif;
    color: rgb(65, 57, 57);
    font-size: 18px;
    margin: 0;
    

}
header{
   
    padding:.2rem 10rem;
}

}

/* seccion S O B R E  M I */
/* *********************/

#sobremi {
    max-width: 1100px;
    margin: auto;
    padding: 10px 15px;
    color: #111135;
    display: flex;
}

#sobremi .contenedor-foto {
    max-width: 400px;
    margin-right: 80px;
}

#sobremi .contenedor-foto img {
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
}

#sobremi .sobremi {
    margin: 0 40px;
}


#sobremi .sobremi .titulo-seccion {
    font-size: 24px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #f80404;
    text-decoration-thickness: 5px;
}

#sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobremi .sobremi h2 span {
    color: #0f0e0e;
}

#sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p {
    font-size: 18px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}

#sobremi .sobremi a {
    display: inline-block;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    border: 1px solid #000;
    padding: 10px 20px;
    margin-top: 30px;
    transition: .5s;
    background-color: black;

}

#sobremi .sobremi a:hover {
    background-color: white;
    color: rgb(13, 11, 11);
}


.texto_mi{
    text-align: center;
    font-size: 38px;
    margin-top: 80px;
}



@media only screen and (max-width: 776px){

    #sobremi {
        max-width: 1100px;
        margin: auto;
        padding: 100px 15px;
        color: #111135;
        flex-direction: column;
        align-items: center;
    }
    #sobremi .sobremi p {
        font-size: 16px;
}
}
/* footer */

.container2{
	max-width: 1170px;
	margin:auto;
}
.row2{
	display: flex;
    
}
ul{
	list-style: none;
}
.footer{
	background-color: #0e0d0d;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #f0e7e7;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #eae2e2;
	text-decoration: none;
	font-weight: 300;
	color: #e9dbdb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ead8d8;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(244, 235, 235, 0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #eae1e1;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #f3e9f2;
}

 
/*responsive*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  
  .foto-footer{
      width: 100%;
  }
  .foto-footer2{
      width: 100%;
      height: 150%;
  }
  .sandracode{
      color: #ffffff;
      margin-left: 200px;
      
  }
  /* SKILLS */

  .skills {
    
    padding-block:80px;  
}
  
  .skills-content { 
    margin-bottom: 50px; }
  
  .skills-toggle {
    background: hsl(0, 0%, 100%);;
    position: relative;
    width: max-content;
    margin-inline: auto;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 100px;
    box-shadow: 10px 10px 40px;
    z-index: 1;
  }
  .skill-card {
    position: relative;
    background: hsl(0, 0%, 100%);
    width: 100px;
    height: 80px;
    display: grid;
    place-items: center;
    border-radius: 12px;
    cursor:pointer;
  }
  
  
  .skills-box.active .skills-list,
.skills-box .tools-list { display: none; }

.skills-box .skills-list,
.skills-box.active .tools-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  animation: fadeIn 0.5s ease-out forwards;
}
  
  
.skills-text{
    text-align: center;
    margin-top: 100px;
    font-size: 38px;
}
 .section-text{
    text-align: center;
    font-size: 18px;
 } 

  /* ESTILOS DE PRODUCTOS */

.container-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin-bottom: 80px;
  }
  .product {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative;
  }
  .product:before {
    
    padding: 10px;
    width: 60px;
    position: absolute;
    top: 20px;
    right: 10px;
    transform: rotate(-90deg);
    color: white;
  }
  
  .product__img{
    width: 100%;
    height: 420px;
    object-fit: cover;
  }
  .product__title{
    text-align: center;
  }
  .product__price {
    color: #FF4E00;
    font-weight: bold;
  }
  .product__icon {
    display: block;
    margin-top: 10px;
  }
  .product:hover .product__icon {
    color: #FF4E00;
  }
  
  .texto_servicios{
    text-align: center;
    font-size: 38px;
    margin-bottom: 40px;
  }
  
  @media(max-width: 767px){
    .product__img{
        width: 100%;
        height: 120px;
        object-fit: cover;
      }

}

/* Equipo */

html{
    font-size: 62.5%;
    overflow-x: hidden;
  }
  
  .heading{
    font-size: 4rem;
    text-align: center;
    padding:0 1rem;
    padding-top: 6rem;
    letter-spacing: .2rem;
    font-weight: 500;
  }
  
  .title{
    padding:0 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    color:#aaa;
  }
  
  
  
  .teacher{
    background:#f9f9f9;
  }
  
  .teacher .card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
  }
  
  .teacher .card-container .card{
    padding:2rem;
    margin: 2rem;
    background:#fff;
    text-align: center;
    width:28rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
  }
  
  .teacher .card-container .card img{
    height:30rem;
    width:100%;
    object-fit: cover;
    filter: grayscale();
    transition: .2s;
    border-radius: 50%;
  }
  
  .teacher .card-container .card:hover img{
    filter: grayscale(0);
  }
  
  .teacher .card-container .card h3{
    color:var(--pink);
    font-size: 2rem;
    padding:.5rem 0;
  }
  
  .teacher .card-container .card p{
    font-size: 1.7rem;
    color:#666;
  }
  
  .teacher .card-container .card .icons a{
    font-size: 1.9rem;
    padding:1.5rem .5rem;
    color:var(--pink);
  }
  
  .teacher .card-container .card .icons a:hover{
    color:red;
  }
  
 
  

/* Servicios */

.box-container{
    margin-bottom: 100px;
    padding: 20px;
    
    }
    .services .box-container{
      display: flex;
      flex-wrap: wrap;
      gap:1.5rem;
    }
    
    .services .box-container .box{
      flex:1 1 30rem;
      border-radius: .5rem;
      background:#fff;
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
      border:.1rem solid rgba(0,0,0,.2);
      text-align: center;
      padding:2rem;
    }
    
    .services .box-container .box h3{
      font-size: 2.5rem;
      color:#333;
    }
    
    .services .box-container .box p{
      font-size: 1.5rem;
      color:#666;
      padding:.5rem 0;
      line-height: 2;
    }
    
    /*  */
    
    .heading-services{
      text-align: center;
      color:#333;
      font-size: 4rem;
      padding-bottom: 3rem;
    }
    
    .heading-services span{
      color:var(--red);
      background:var(--light-red);
      border-radius: .5rem;
      padding:.2rem 1.5rem;
    }
  
  
/*  boton flotante whashsap */

  /* Estilos para el botón flotante de WhatsApp */
  .whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366; /* Color de fondo de WhatsApp */
    color: #fff; /* Color del icono de WhatsApp */
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.3s;
  }
  
  .whatsapp-button a {
    text-decoration: none;
    color: inherit;
  }
  
  .whatsapp-button i {
    font-size: 24px;
  }
  
  .whatsapp-button:hover {
    background-color: #128c7e; /* Cambio de color al pasar el ratón */
  }
  